/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-t.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-t-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-t.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-t.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-t.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-t.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-t-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-t-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-t-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-t-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-t-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-t-i.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-l.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-l-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-l.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-l.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-l.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-l.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-l-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-l-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-l.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-l-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-l.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-l.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-l.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-l-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-l-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-l-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-l-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-l-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-l-i.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-r.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-r-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-r.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-r.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-r.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-m.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-m-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-m.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-m.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-m.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-m.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-m-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-m-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-m-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-m-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-m-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-m-i.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-s-b.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-s-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-s-b.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-s-b.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-s-b.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-s-b.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-s-b-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-s-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-b.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-b.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-b.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-b.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-b-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-b-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-b-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-b-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-b.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-b.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-b.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-b.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-b.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-b-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-bl.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-bl-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-bl.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-bl.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-bl.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-bl.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-bl-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-bl-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-bl-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-bl-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-bl-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-bl-i.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* \Montserrat */
/* Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-r.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-r-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-r.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-r.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-r.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-b.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-b.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-b.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-b.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-i.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-i.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-i.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-i.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-b-i.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-b-i.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-b-i.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-b-i.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-l.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-l-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-l.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-l.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-l.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-l-i.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-l-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-l-i.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-l-i.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-l-i.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-l-i.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-s-b.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-s-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-s-b.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-s-b.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-s-b.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-s-b.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-s-b-i.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-s-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-s-b-i.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-s-b-i.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-s-b-i.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-s-b-i.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-e-b.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-e-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-e-b.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-e-b.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-e-b.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-e-b.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../../../g/fonts/open_sans/open_sans-e-b-i.eot");
  src: url("../../../../g/fonts/open_sans/open_sans-e-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/open_sans/open_sans-e-b-i.woff2") format("woff2"), url("../../../../g/fonts/open_sans/open_sans-e-b-i.woff") format("woff"), url("../../../../g/fonts/open_sans/open_sans-e-b-i.ttf") format("truetype"), url("../../../../g/fonts/open_sans/open_sans-e-b-i.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}
/* \Open Sans */
